<template>
  <card>
    <h4 slot="header" class="card-title">Datos del Micelio</h4>
    <form>
      <div class="row">
        <div class="col-md-6">
          <base-input type="text"
                    label="ID MICELIO"
                    :disabled="true"
                    placeholder="Light dashboard"
                    v-model="user.company">
          </base-input>
        </div>
        <div class="col-md-6">
          <base-input type="text"
                    label="ESPECIE INOCULADA"
                    :disabled="!editing"
                    placeholder="Nombre de la especie"
                    v-model="user.username">
          </base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <base-input type="text"
                    label="SUSTRATO"
                    :disabled="!editing"
                    placeholder="Username"
                    v-model="user.firstName">
          </base-input>
        </div>
        <div class="col-md-6">
          <base-input type="text"
                    label="SUSTRATO NATURAL"
                    :disabled="!editing"
                    placeholder="Email"
                    v-model="user.email">
          </base-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <base-input type="text"
                    label="LIMITE SUPERIOR"
                    :disabled="!editing"
                    placeholder="First Name"
                    v-model="user.city">
          </base-input>
        </div>
        <div class="col-md-6">
          <base-input type="text"
                    label="LIMITE INFERIOR"
                    :disabled="!editing"
                    placeholder="Last Name"
                    v-model="user.country">
          </base-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>DESCRIPCIÓN</label>
            <textarea rows="5" class="form-control border-input"
            :disabled="!editing"
                      placeholder="Here can be your description"
                      v-model="user.aboutMe">
              </textarea>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-info btn-fill float-right" @click="startEditing">
          Actualizar datos
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </card>
</template>

<script>
  import Card from 'src/components/Cards/Card.vue'

  export default {
    components: {
      Card
    },
    data () {
      return {
        editing: false,
        user: {
          company: '1',
          username: 'Shiitake',
          email: 'SI',
          firstName: 'Fibra de coco',
          lastName: 'Andrew',
          address: 'Melbourne, Australia',
          city: '18',
          country: '12',
          postalCode: '',
          aboutMe: `Hongos inoculados con fibra de coco y mármol.`
        }
      }
    },
    methods: {
      startEditing () {
        this.editing = !this.editing;
      },
      updateProfile () {
        alert('Your data: ' + JSON.stringify(this.user))
      }
    }
  }
</script>

<style>

</style>
