<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-chart text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Temperatura</p>
              <h4 class="card-title">{{temperatura}}° C</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-refresh"></i>Updated now
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <i class="nc-icon nc-light-3 text-success"></i>
            </div>
            <div slot="content">
              <p class="card-category">Humedad</p>
              <h4 class="card-title">{{humedad}} %</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-refresh"></i>Updated now
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
            <div slot="content">
              <p class="card-category">Finalizado</p>
              <h4 class="card-title">{{buttonText}}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-clock-o"></i>Last day
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            
            <div slot="header" class="icon-danger">
              <button type="button" class="btn btn-warning" @click="toggleDivVisibility">Finalizar Cosecha</button>
            </div>
            
            <div slot="footer">
              <i class="fa fa-clock-o"></i>Last day
            </div>
          </stats-card>
        </div>

        <div class="col-4" v-if="showDiv">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Tiempos de Colonización</h4>
              <p class="card-category"></p>
            </template>
            <l-table class="table-hover table-striped table-sm"
                     :columns="table1.columns"
                     :data="table1.data">
            </l-table>
          </card>
        </div>

        <div class="col-4" v-if="showDiv">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Tiempos de Procesos</h4>
              <p class="card-category"></p>
            </template>
            <l-table class="table-hover table-striped table-sm"
                     :columns="table2.columns"
                     :data="table2.data">
            </l-table>
          </card>
        </div>

        <div class="col-4" v-if="showDiv">
          <card class="strpied-tabled-with-hover"
                body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">Procesos y Producción</h4>
              <p class="card-category"></p>
            </template>
            <l-table class="table-hover table-striped table-sm"
                     :columns="table3.columns"
                     :data="table3.data">
            </l-table>
          </card>
        </div>


      </div>
    </div>
  </div>
</template>
<script>
  import ChartCard from 'src/components/Cards/ChartCard.vue'
  import StatsCard from 'src/components/Cards/StatsCard.vue'
  import LTable from 'src/components/Table.vue'
  import axios from 'axios'
  import Card from 'src/components/Cards/Card.vue'

  const tableColumns = ['Id', 'Detalle', 'Cantidad']
  const tableData = [{
    id: 1,
    detalle: 'hrs colonización sustrato',
    cantidad: '36.738',
  },
  {
    id: 2,
    detalle: 'hrs colonización substrato',
    cantidad: '23,789',
  },
  {
    id: 3,
    detalle: 'hrs fructificación',
    cantidad: '56,142',
  },
  {
    id: 4,
    detalle: 'hrs proceso total',
    cantidad: '38,735'
  }
  ]
  const tableData2 = [{
    id: 1,
    detalle: 'hrs primer flush',
    cantidad: '36.738',
  },
  {
    id: 2,
    detalle: 'hrs segundo flush',
    cantidad: '23,789',
  },
  {
    id: 3,
    detalle: 'hrs tercer flush',
    cantidad: '56,142',
  },
  {
    id: 4,
    detalle: 'hrs cuarto flush',
    cantidad: '38,735'
  }
  ,
  {
    id: 5,
    detalle: 'hrs quinto flush',
    cantidad: '38,735'
  }
  ]
  const tableData3 = [{
    id: 1,
    detalle: 'flush actual',
    cantidad: '36.738',
  },
  {
    id: 2,
    detalle: 'producción primer flush',
    cantidad: '23,789',
  },
  {
    id: 3,
    detalle: 'producción segundo flush',
    cantidad: '56,142',
  },
  {
    id: 4,
    detalle: 'producción tercer flush',
    cantidad: '38,735'
  }
  ]

  export default {
    components: {
      LTable,
      ChartCard,
      StatsCard,
      Card
    },
    data () {
      return {
        showDiv: false,
        buttonText: "NO",
        editTooltip: 'Edit Task',
        deleteTooltip: 'Remove',
        temperatura: null,
        humedad: null,
        table1: {
          columns: [...tableColumns],
          data: [...tableData]
        },
        table2: {
          columns: [...tableColumns],
          data: [...tableData2]
        },
        table3: {
          columns: [...tableColumns],
          data: [...tableData3]
        }
      }
    },
    mounted(){
      //this.getTelemetry();
      //this.getToken();
      this.getTelemetryValues();
      setInterval(() => {
        this.getTelemetryValues();
      }, 5000); 
    },
    methods:{
      toggleDivVisibility() {
        this.showDiv = !this.showDiv;
        if (this.showDiv) {
          this.buttonText = "SÍ";
        } else {
          this.buttonText = "NO";
      }
      },
      getToken(){
        const url = 'http://iot.ceisufro.cl:8080/api/auth/login';

        axios.post(url, {
          "username": "a.sarabia02@ufromail.cl",
          "password": "Condorito1"
        },{
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          },
        }
        )
      },
      getTelemetry(){
        const url = 'http://iot.ceisufro.cl:8080/api/plugins/telemetry/DEVICE/94c44f80-1667-11ee-b199-3d650e5455ce/keys/timeseries'
        const apiKey = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhLnNhcmFiaWEwMkB1ZnJvbWFpbC5jbCIsInNjb3BlcyI6WyJURU5BTlRfQURNSU4iXSwidXNlcklkIjoiNTEzMDE5MTAtMDA3ZS0xMWVlLWIxOTktM2Q2NTBlNTQ1NWNlIiwiZmlyc3ROYW1lIjoiQWxleCIsImxhc3ROYW1lIjoiU2FyYWJpYSIsImVuYWJsZWQiOnRydWUsImlzUHVibGljIjpmYWxzZSwidGVuYW50SWQiOiJiZDg4OTE2MC0wMDdkLTExZWUtYjE5OS0zZDY1MGU1NDU1Y2UiLCJjdXN0b21lcklkIjoiMTM4MTQwMDAtMWRkMi0xMWIyLTgwODAtODA4MDgwODA4MDgwIiwiaXNzIjoidGhpbmdzYm9hcmQuaW8iLCJpYXQiOjE2ODg4NjEyOTcsImV4cCI6MTY4ODg3MDI5N30.TmkmDe_yEZKbMLUe1roYuoefc6ag9cD0EzryO4o-xdNWwL5FEQKvYZoH_TL45oJAahfVi0uTVzBxxEtFsuwJ1w'

        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
            'X-Authorization': `Bearer ${apiKey}`
          }
        })
          .then(response => {
            console.log(response.data);
            console.log(response.data[0])
          })
          .catch(error => {
            console.error(error);
          });

      },
      getTelemetryValues(){
        const url = 'http://iot.ceisufro.cl:8080/api/plugins/telemetry/DEVICE/94c44f80-1667-11ee-b199-3d650e5455ce/values/timeseries?key=Humedad'
        //const apiKey = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhLnNhcmFiaWEwMkB1ZnJvbWFpbC5jbCIsInNjb3BlcyI6WyJURU5BTlRfQURNSU4iXSwidXNlcklkIjoiNTEzMDE5MTAtMDA3ZS0xMWVlLWIxOTktM2Q2NTBlNTQ1NWNlIiwiZmlyc3ROYW1lIjoiQWxleCIsImxhc3ROYW1lIjoiU2FyYWJpYSIsImVuYWJsZWQiOnRydWUsImlzUHVibGljIjpmYWxzZSwidGVuYW50SWQiOiJiZDg4OTE2MC0wMDdkLTExZWUtYjE5OS0zZDY1MGU1NDU1Y2UiLCJjdXN0b21lcklkIjoiMTM4MTQwMDAtMWRkMi0xMWIyLTgwODAtODA4MDgwODA4MDgwIiwiaXNzIjoidGhpbmdzYm9hcmQuaW8iLCJpYXQiOjE2ODg4NjEyOTcsImV4cCI6MTY4ODg3MDI5N30.TmkmDe_yEZKbMLUe1roYuoefc6ag9cD0EzryO4o-xdNWwL5FEQKvYZoH_TL45oJAahfVi0uTVzBxxEtFsuwJ1w'
        const apiKey = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhLnNhcmFiaWEwMkB1ZnJvbWFpbC5jbCIsInNjb3BlcyI6WyJURU5BTlRfQURNSU4iXSwidXNlcklkIjoiNTEzMDE5MTAtMDA3ZS0xMWVlLWIxOTktM2Q2NTBlNTQ1NWNlIiwiZmlyc3ROYW1lIjoiQWxleCIsImxhc3ROYW1lIjoiU2FyYWJpYSIsImVuYWJsZWQiOnRydWUsImlzUHVibGljIjpmYWxzZSwidGVuYW50SWQiOiJiZDg4OTE2MC0wMDdkLTExZWUtYjE5OS0zZDY1MGU1NDU1Y2UiLCJjdXN0b21lcklkIjoiMTM4MTQwMDAtMWRkMi0xMWIyLTgwODAtODA4MDgwODA4MDgwIiwiaXNzIjoidGhpbmdzYm9hcmQuaW8iLCJpYXQiOjE2ODg5NDYwNzMsImV4cCI6MTY4ODk1NTA3M30.KtNBngf7zKYUsGVfErXyd6BAWGm3cHcZjcSHDLX8VsYBBiYORm4zaVuJsVrZNzzgY0iMuaY7qdqi7Oe7BW0eWA';

        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
            'X-Authorization': `Bearer ${apiKey}`
          }
        })
          .then(response => {
            //console.log(response.data);
            console.log(response.data.Temperatura[0].value);
            this.temperatura = response.data.Temperatura[0].value;
            this.humedad = response.data.Humedad[0].value;
            //console.log(response.data[0].[0].value)
          })
          .catch(error => {
            console.error(error);
          });

      }
    }
  }
</script>
<style>

</style>
